/*! ----Стили обнуления---- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

/* -------------------------- */
p {
	color: blue;
}

.text {
	color: green;
}

.text2 {
	color: brown;
}

.block {
	color: rgb(56, 134, 236);
}

#priority1 {
	color: rgb(161, 207, 203);
}

.text4 p {
	color: rgb(11, 236, 218);
}

span.text {
	color: deeppink;
}

span.blue {
	color: darkblue;
}

.text3.red {
	color: red;
}

p span {
	color: gold;
}

.text3 .cifra {
	color: black;
}
